.flow-dendrogram {
	box-sizing: border-box;
	outline: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 2vw;
	
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        outline: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		padding: 0;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: .5em;
			width: 1em;
			border-top: 3px solid black;
		}
	}

	> ul {
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		padding: .5em 1em .5em 3em;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 1.5em;
			height: 100%;
			border-left: 3px solid black;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 1.5em;
			width: 1em;
			border-top: 3px solid black;
		}

		&:first-child {
			&:before {
				top: 50%;
				height: 50%;
			}
		}

		&:last-child {
			&:before {
				bottom: 50%;
				height: 50%;
			}
		}

		&:only-child {
			&:before {
				display: none;
			}
		}

	}

	> li {
		padding: 0;

		&:before,
		&:after {
			display: none;
		}
	}
}